
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f3f4f6;
    color:#111827;
}

.dashboard{
    display:flex;
    min-height:100vh;
}

.main{
    flex:1;
    padding:25px;
    overflow-x:hidden;

    margin-left:270px;
}
.page-top{
    width:100%;
    background:linear-gradient(135deg,#2563eb,#7c3aed);
    border-radius:30px;
    padding:45px;
    color:white;
    position:relative;
    overflow:hidden;
    margin-bottom:35px;
    box-shadow:6px 0 30px rgba(0,0,0,0.15);

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
    flex-wrap:wrap;
}

.page-top::before{
    content:"";
    position:absolute;
    width:250px;
    height:250px;
    border-radius:50%;
    background:rgba(255,255,255,0.08);
    top:-80px;
    right:-60px;
}

.page-top::after{
    content:"";
    position:absolute;
    width:180px;
    height:180px;
    border-radius:50%;
    background:rgba(255,255,255,0.06);
    bottom:-60px;
    left:-40px;
}

.welcome-box{
    position:relative;
    z-index:2;
}

.welcome-box h1{
    font-size:40px;
    font-weight:700;
    margin-bottom:12px;
}

.welcome-box p{
    font-size:16px;
    opacity:0.9;
}

.card{
    background:white;
    padding:18px 22px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,0.06);
    margin-bottom:20px;
}

.card h1{
    font-size:22px;
    font-weight:700;
}
table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:16px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.06);
}

table th{
    background:#111827;
    color:white;
    text-align:left;
    padding:14px;
    font-size:14px;
}

table td{
    padding:14px;
    border-bottom:1px solid #e5e7eb;
    font-size:14px;
}

table tr:hover{
    background:#f9fafb;
}

.status-active{
    color:green;
    font-weight:bold;
}

.status-suspended{
    color:red;
    font-weight:bold;
}

table a{
    text-decoration:none;
    font-weight:600;
    font-size:13px;
    padding:6px 10px;
    border-radius:8px;
    transition:0.3s ease;
    display:inline-block;
}

table a:hover{
    transform:translateY(-2px);
}

a[href*="suspend"]{
    color:#b91c1c;
    background:#fee2e2;
}

a[href*="activate"]{
    color:#166534;
    background:#dcfce7;
}

.delete-btn{
    color:white;
    background:#ef4444;
}

.delete-btn:hover{
    background:#dc2626;
}
@media(max-width:900px){
    table{
        display:block;
        overflow-x:auto;
        white-space:nowrap;
    }
}

@media(max-width:768px){

    .main{
        margin-left:0;
        padding:15px;
    }

    .page-top{
        text-align: center;
        padding:25px;
        border-radius:20px;
    }

    .welcome-box h1{
        font-size:26px;
    }

    table th,
    table td{
        font-size:13px;
        padding:10px;
    }
}