/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f4f7fb;
    color:#111827;
}

/* DASHBOARD */

.dashboard{
    display:flex;
    min-height:100vh;
}

/* SIDEBAR */

.sidebar{
    width:260px;
    background:#111827;
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.sidebar h2{
    color:white;
    margin-bottom:20px;
    font-size:28px;
}

.sidebar a{
    text-decoration:none;
    color:#d1d5db;
    padding:14px;
    border-radius:14px;
    display:flex;
    align-items:center;
    gap:10px;
    transition:0.3s;
}

.sidebar a:hover{
     background: #1f2937;
    color: white;
    transform: translateX(4px);
}

.sidebar a.active{
       background: #2563eb;
    color: white;
}

/* BADGE */

.badge{
    margin-left:auto;
    background:red;
    color:white;
    min-width:20px;
    height:20px;
    border-radius:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:11px;
    font-weight:bold;
}

/* MAIN */

.main{
    flex:1;
    padding:30px;
}

.page-title{
    font-size:34px;
    margin-bottom:30px;
}

/* GRID */

.property-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:25px;
}

/* CARD */

.property-card{
    background:white;
    border-radius:22px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,0.06);
    transition:0.3s;
}

.property-card:hover{
    transform:translateY(-5px);
}

.main-card-image{
    width:100%;
    height:240px;
    object-fit:cover;
}

/* CONTENT */

.property-content{
    padding:20px;
}

.title-price{
    display:flex;
    justify-content:space-between;
    gap:10px;
    margin-bottom:10px;
}

.title-price h3{
    font-size:22px;
}

.title-price span{
    color:#2563eb;
    font-weight:bold;
}

.location{
    color:#6b7280;
    margin-bottom:18px;
}

/* BUTTONS */

.action-buttons{
    display:flex;
    gap:10px;
}

.view-btn,
.delete-btn{
    flex:1;
    padding:13px;
    border-radius:12px;
    text-decoration:none;
    text-align:center;
    font-weight:600;
    transition:0.3s;
}

.view-btn{
    background:#2563eb;
    color:white;
}

.delete-btn{
    background:#ef4444;
    color:white;
}

.view-btn:hover{
    background:#1d4ed8;
}

.delete-btn:hover{
    background:#dc2626;
}

/* EMPTY */

.empty-box{
    background:white;
    padding:60px 20px;
    border-radius:22px;
    text-align:center;
    grid-column:1/-1;
}

.empty-box i{
    font-size:50px;
    margin-bottom:15px;
    color:#9ca3af;
}

.empty-box h3{
    margin-bottom:10px;
}

/* RESPONSIVE */

@media(max-width:768px){

    .dashboard{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
        flex-direction:row;
        overflow:auto;
    }

    .sidebar h2{
        display:none;
    }

    .sidebar a{
        white-space:nowrap;
    }

    .main{
        padding:20px;
    }

}